<a href="/winecellars/">Wine Cellar Index</a>
<a href="/wines/">Wines Index</a>
<h1>All Wine Cellars</h1>
<ul id="winecellars">
  <% @winecellars.each do |cellar| %>
    <li>
    <h3>Name: <a href="/winecellars/<%= cellar.id %>"><%= cellar.name %></a></h3>
    <h3>Created_at: <%= cellar.created_at %></h3>
    </li>
  <% end %>
</ul>
<hr>
<h2><%= link_to "Create Wine Cellar", "/winecellars/new" %></h2>
